@font-face {
  font-family: "GlacialIndifference";
  src: url("../../fonts/GlacialIndifference-Regular.woff");
  font-weight: normal; }
@font-face {
  font-family: "GlacialIndifference";
  src: url("../../fonts/GlacialIndifference-Bold.woff");
  font-weight: bold; }
@font-face {
  font-family: "GlacialIndifference";
  src: url("../../fonts/GlacialIndifference-Italic.woff");
  font-style: italic; }
@-webkit-keyframes slide-in {
  0% {
    margin-left: calc(100% + 30px); }
  100% {
    margin-left: 0px; } }
@keyframes slide-in {
  0% {
    margin-left: calc(100% + 30px); }
  100% {
    margin-left: 0px; } }
* {
  font-family: "GlacialIndifference", sans-serif; }

::selection {
  background: rgba(189, 85, 106, 0.2); }

body {
  margin: 0px; }

button.btn, button.btn:visited {
  margin: 9px 0px;
  color: #FFFFFF;
  background-color: #DA4359;
  border: 2px solid #DA4359;
  border-radius: 7px;
  box-shadow: 1px 1px 14px -2px #DA4359;
  padding: 1px 10px;
  height: 36px;
  min-width: 90px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: 150ms;
  cursor: pointer; }
  button.btn:hover, button.btn:visited:hover {
    outline: none;
    box-shadow: none;
    background-color: #b93144;
    border-color: #b93144; }
  button.btn:focus, button.btn:visited:focus {
    outline: none;
    box-shadow: 1px 1px 14px 1px #b93144; }
  button.btn:active, button.btn:visited:active {
    box-shadow: none; }
  button.btn.ghost-btn, button.btn:visited.ghost-btn {
    background-color: transparent;
    color: #DA4359;
    box-shadow: none; }
    button.btn.ghost-btn:hover, button.btn:visited.ghost-btn:hover {
      color: white;
      background-color: #DA4359;
      border-color: #DA4359; }
    button.btn.ghost-btn:focus, button.btn:visited.ghost-btn:focus {
      box-shadow: 1px 1px 14px 0px #e07686; }

header #title {
  margin: 20px;
  font-size: 3.4rem;
  letter-spacing: 1px;
  color: #b1b1b1; }
header #help-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #b1b1b1;
  font-size: 26px;
  text-align: center;
  cursor: pointer; }
  header #help-btn:hover {
    color: #6f6e6e; }
header hr {
  margin: -7px 0px 30px 20px;
  border: 3px solid #b1b1b1;
  width: 56px; }

nav {
  display: inline-block;
  float: left; }
  nav button {
    display: block;
    margin: 40px 0px;
    padding-top: 42px;
    width: 100px;
    height: 65px;
    color: #b1b1b1;
    font-weight: bold;
    font-size: 12.5px;
    border: none;
    background-color: transparent;
    background-size: 34px;
    background-position: top;
    background-repeat: no-repeat;
    cursor: pointer; }
    nav button:first-of-type {
      margin-top: 0px; }
    nav button:hover, nav button:focus, nav button.current {
      color: #DA4359;
      outline: none; }
    nav button[data-panel="AddData"] {
      background-image: url("../../images/icons/Plus.svg"); }
      nav button[data-panel="AddData"]:hover, nav button[data-panel="AddData"].current {
        background-image: url("../../images/icons/Plus-red.svg"); }
    nav button[data-panel="AllData"] {
      background-image: url("../../images/icons/Graph.svg"); }
      nav button[data-panel="AllData"]:hover, nav button[data-panel="AllData"].current {
        background-image: url("../../images/icons/Graph-red.svg"); }
    nav button[data-panel="Insights"] {
      background-image: url("../../images/icons/Lightbulb.svg"); }
      nav button[data-panel="Insights"]:hover, nav button[data-panel="Insights"].current {
        background-image: url("../../images/icons/Lightbulb-red.svg"); }
    nav button[data-panel="Setup"] {
      background-image: url("../../images/icons/Cog.svg"); }
      nav button[data-panel="Setup"]:hover, nav button[data-panel="Setup"].current {
        background-image: url("../../images/icons/Cog-red.svg"); }

section {
  display: inline-block;
  box-sizing: border-box;
  min-height: 100vh;
  width: calc(100% - 100px);
  padding: 10px 43px;
  overflow-x: hidden;
  background-color: #f0f1f3; }
  section p {
    color: #6f6e6e;
    font-size: 1.1em; }
  section h1 {
    margin: 15px 5px 45px 0px;
    font-size: 2rem;
    color: #b1b1b1; }
  section h2 {
    color: #6f6e6e; }
  section .card {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 15px;
    min-height: 200px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 7px; }
    section .card h3 {
      margin: 8px 0px;
      color: #6f6e6e; }
    section .card.half {
      margin: 0px 25px 30px 25px;
      width: calc(50% - 50px);
      vertical-align: top; }
  section .elapsed-days {
    color: #DA4359;
    font-weight: bold; }
  section #addDataBtn span {
    display: flex;
    align-items: center; }
    section #addDataBtn span i {
      margin-right: 10px;
      font-size: 1.3em; }
  section form#add-data {
    padding: 20px 0px;
    max-width: 700px;
    -webkit-animation: slide-in 400ms ease;
    animation: slide-in 400ms ease; }
    section form#add-data .field {
      display: inline-block;
      box-sizing: border-box;
      width: 50%;
      padding: 7px 12px;
      vertical-align: top; }
      section form#add-data .field.full-width {
        display: block;
        width: 100%; }
      section form#add-data .field label {
        display: block;
        margin: 7px 0px;
        color: #6f6e6e;
        font-size: 1.1em; }
        section form#add-data .field label[for="barometric-pressure"] {
          display: inline-block; }
      section form#add-data .field a, section form#add-data .field a:visited {
        color: #DA4359;
        text-decoration: none; }
        section form#add-data .field a:hover, section form#add-data .field a:visited:hover {
          color: #b93144; }
      section form#add-data .field input[type="text"], section form#add-data .field input[type="date"], section form#add-data .field select {
        color: #DA4359;
        box-sizing: border-box;
        background-color: white;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 1px 10px;
        font-size: 0.9rem;
        border: none;
        border-radius: 7px;
        height: 36px;
        width: 100%;
        transition: 150ms; }
        section form#add-data .field input[type="text"]:focus, section form#add-data .field input[type="date"]:focus, section form#add-data .field select:focus {
          outline: none;
          box-shadow: 1px 2px 14px 0px rgba(218, 67, 89, 0.55); }
      section form#add-data .field textarea {
        box-sizing: border-box;
        color: #DA4359;
        background-color: white;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 10px;
        font-size: 0.9rem;
        border: none;
        border-radius: 7px;
        height: 130px;
        width: 100%;
        transition: 150ms;
        resize: none; }
        section form#add-data .field textarea:focus {
          outline: none;
          box-shadow: 1px 2px 14px 0px rgba(218, 67, 89, 0.55); }
      section form#add-data .field #characters {
        float: right;
        margin: 2px 0px;
        color: #b1b1b1; }
    section form#add-data button[type="submit"] {
      display: block;
      margin: 20px 0px 0px 12px; }
  section #submit-confirmation {
    display: block;
    margin-top: 25px;
    color: #b1b1b1; }
    section #submit-confirmation i {
      margin-right: 5px; }
  section #no-insight-data {
    text-align: center; }
    section #no-insight-data h2 {
      margin: 45px auto 0px auto; }
    section #no-insight-data p {
      font-size: 1em; }
  section #insights > .card p.data-output {
    color: #DA4359;
    font-size: 2em;
    font-weight: bold; }
  section #user-settings {
    float: left; }
    section #user-settings button {
      margin-top: 3px; }
  section #user-settings, section #triggers-setup {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 0px 25px; }
    section #user-settings h2, section #triggers-setup h2 {
      margin: 0px 0px 12px 0px; }
    section #user-settings p, section #triggers-setup p {
      margin: 8px 0px; }
    section #user-settings .wrapper, section #triggers-setup .wrapper {
      width: 100%;
      min-height: 250px; }
  section #about {
    width: 100%;
    margin-top: 35px;
    padding: 0px 25px;
    font-size: 1.1em; }
    section #about h2 {
      margin-bottom: 12px; }
    section #about p {
      margin-top: 0px; }
  section#all-data #history {
    box-sizing: border-box;
    padding: 0px 25px; }
    section#all-data #history h2 {
      margin-bottom: 12px; }
    section#all-data #history #no-data {
      margin: 40px auto;
      text-align: center;
      color: #b1b1b1; }
    section#all-data #history div {
      box-sizing: border-box;
      padding: 10px 15px;
      width: 100%;
      min-height: 200px;
      background-color: #FFFFFF;
      border-radius: 7px; }
      section#all-data #history div table {
        width: 100%;
        text-align: left; }
        section#all-data #history div table thead {
          color: #6f6e6e; }
          section#all-data #history div table thead th {
            height: 38px;
            padding: 4px;
            box-sizing: border-box; }
        section#all-data #history div table tr {
          height: 38px; }
          section#all-data #history div table tr td {
            padding: 4px; }
        section#all-data #history div table tr:nth-child(odd) {
          background-color: #f0f1f3; }

#help-menu #help-dialog {
  position: fixed;
  top: calc(50% - 100px);
  left: 15%;
  box-sizing: border-box;
  padding: 15px;
  height: 200px;
  width: 70%;
  background-color: #FFFFFF;
  border-radius: 7px;
  z-index: 900; }
  #help-menu #help-dialog p {
    color: #6f6e6e;
    font-size: 1.1em; }
#help-menu #help-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 800; }

/* Mobile */
@media screen and (max-width: 850px) {
  section .card.half {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px; }
  section #user-settings, section #triggers-setup {
    display: block;
    width: 100%;
    margin-bottom: 30px; }

  #help-menu #help-dialog {
    left: 10%;
    width: 80%; } }
@media screen and (max-width: 700px) {
  header hr {
    margin-bottom: 20px; }

  button.btn:hover, button.btn:focus {
    outline: none;
    box-shadow: 1px 1px 14px -2px #DA4359;
    background-color: #DA4359;
    border-color: #DA4359; }
  button.btn:active {
    box-shadow: none;
    color: white;
    background-color: #b93144; }
  button.btn.ghost-btn {
    background-color: transparent;
    color: #DA4359;
    box-shadow: none; }
    button.btn.ghost-btn:hover {
      background-color: transparent;
      color: #DA4359;
      box-shadow: none; }
    button.btn.ghost-btn:active {
      color: white;
      background-color: #DA4359;
      border-color: #DA4359; }
    button.btn.ghost-btn:focus {
      box-shadow: none; }

  nav {
    float: none;
    height: 70px;
    width: 100%;
    white-space: nowrap; }
    nav button {
      display: inline-block;
      margin: 0px;
      padding-top: 28px;
      height: 100%;
      width: 25%;
      background-size: 30px; }

  section {
    width: 100%;
    padding: 10px 18px; }
    section#all-data #history {
      padding: 0px; }
    section #user-settings, section #triggers-setup, section #about {
      padding: 0px; } }
@media screen and (max-width: 600px) {
  header #title {
    font-size: 3.2rem; }

  #help-menu #help-dialog {
    top: calc(50% - 150px);
    height: 300px; }

  section form#add-data .field {
    display: block;
    width: 100%;
    padding: 6px 0px; }
  section form#add-data button[type="submit"] {
    margin-left: 0px; } }

/*# sourceMappingURL=style.css.map */
