
@font-face {
  font-family: "GlacialIndifference";
  src: url("../../fonts/GlacialIndifference-Regular.woff");
  font-weight: normal;
  }
@font-face {
  font-family: "GlacialIndifference";
  src: url("../../fonts/GlacialIndifference-Bold.woff");
  font-weight: bold;
  }
  @font-face {
  font-family: "GlacialIndifference";
  src: url("../../fonts/GlacialIndifference-Italic.woff");
  font-style: italic;
   }


$red: #DA4359;
$darkred: #b93144;
$lightgrey: #b1b1b1;
$lightergrey: #f0f1f3;
$darkgrey: #6f6e6e;

* {
  font-family: "GlacialIndifference", sans-serif;
}

::selection { background: rgba(189, 85, 106, 0.2); }

body { margin: 0px; }

button.btn, button.btn:visited {
  margin: 9px 0px;
  color: #FFFFFF;
  background-color: $red;
  border: 2px solid $red;
  border-radius: 7px;
  box-shadow: 1px 1px 14px -2px $red;
  padding: 1px 10px;
  height: 36px;
  min-width: 90px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: 150ms;
  cursor: pointer;

  &:hover {
    outline: none;
    box-shadow: none;
    background-color: $darkred;
    border-color: $darkred;
  }

  &:focus {
    outline: none;
    box-shadow: 1px 1px 14px 1px $darkred;
  }

  &:active {
    box-shadow: none;
  }

  &.ghost-btn {
    background-color: transparent;
    color: $red;
    box-shadow: none;

    &:hover {
      color: white;
      background-color: $red;
      border-color: $red;
    }

    &:focus {
      box-shadow: 1px 1px 14px 0px #e07686;
    }
  }
}

header {
  #title {
    margin: 20px;
    font-size: 3.4rem;
    letter-spacing: 1px;
    color: $lightgrey;
  }

  #help-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: $lightgrey;
    font-size: 26px;
    text-align: center;
    cursor: pointer;

    &:hover { color: $darkgrey; }
  }

  hr {
    margin: -7px 0px 30px 20px;
    border: 3px solid $lightgrey;
    width: 56px;
  }
}

nav {
  display: inline-block;
  float: left;

  button {
    display: block;
    margin: 40px 0px;
    padding-top: 42px;
    width: 100px;
    height: 65px;
    color: $lightgrey;
    font-weight: bold;
    font-size: 12.5px;
    border: none;
    background-color: transparent;
    background-size: 34px;
    background-position: top;
    background-repeat: no-repeat;
    cursor: pointer;

    &:first-of-type { margin-top: 0px; }

    &:hover, &:focus, &.current {
      color: $red;
      outline: none;
    }

    &[data-panel="AddData"] {
      background-image: url("../../images/icons/Plus.svg");
      &:hover, &.current { background-image: url("../../images/icons/Plus-red.svg"); }
    }
    &[data-panel="AllData"] {
      background-image: url("../../images/icons/Graph.svg");
      &:hover, &.current { background-image: url("../../images/icons/Graph-red.svg"); }
    }
    &[data-panel="Insights"] {
      background-image: url("../../images/icons/Lightbulb.svg");
      &:hover, &.current { background-image: url("../../images/icons/Lightbulb-red.svg"); }
    }
    &[data-panel="Setup"] {
      background-image: url("../../images/icons/Cog.svg");
      &:hover, &.current { background-image: url("../../images/icons/Cog-red.svg"); }
    }
  }
}

section {
  display: inline-block;
  box-sizing: border-box;
  min-height: 100vh;
  width: calc(100% - 100px);
  padding: 10px 43px;
  background-color: $lightergrey;

  p {
    color: $darkgrey;
    font-size: 1.1em;
  }

  h1 {
    margin: 15px 5px 30px 0px;
    font-size: 2rem;
    color: $lightgrey;
  }

  h2 {
    color: $darkgrey;
  
    &.coming-soon {
      margin: 20px auto;
      text-align:center;
    }
  }

  .elapsed-days {
    color: $red;
    font-weight: bold;
  }

  #addDataBtn {
    span {
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
        font-size: 1.3em;
      }
    }
  }

  form#add-data {
    padding: 20px 0px;
    max-width: 700px;

    .field {
      display: inline-block;
      box-sizing: border-box;
      width: 50%;
      padding: 7px 12px;
      vertical-align: top;

      &.full-width {
        display: block;
        width: 100%;
      }

      label {
        display: block;
        margin: 7px 0px;
        color: $darkgrey;
        font-size: 1.1em;

        &[for="barometric-pressure"] { display: inline-block; }
      }

      a, a:visited {
        color: $red;
        text-decoration: none;

        &:hover { color: $darkred; }
      }
  
      input[type="text"], input[type="date"], select {
        color: $red;
        box-sizing: border-box;
        background-color: white;
        -moz-appearance: none; 
        -webkit-appearance: none; 
        padding: 1px 10px;
        font-size: 0.9rem;
        border: none;
        border-radius: 7px;
        height: 36px;
        width: 100%;
        transition: 150ms;
  
        &:focus {
          outline: none;
          box-shadow: 1px 2px 14px 0px rgba(218, 67, 89, 0.55);
        }
      }

      textarea {
        box-sizing: border-box;
        color: $red;
        background-color: white;
        -moz-appearance: none; 
        -webkit-appearance: none; 
        padding: 10px;
        font-size: 0.9rem;
        border: none;
        border-radius: 7px;
        height: 130px;
        width: 100%;
        transition: 150ms;
        resize: none;
  
        &:focus {
          outline: none;
          box-shadow: 1px 2px 14px 0px rgba(218, 67, 89, 0.55);
        }
      }

      #characters {
        float: right;
        margin: 2px 0px;
        color: $lightgrey;
      }
    }

    button[type="submit"] {
      display: block;
      margin: 20px 0px 0px 12px;
    }
  }

  #submit-confirmation {
    display: block;
    margin-top: 25px;
    color: #b1b1b1;

    i { margin-right: 5px; }
  }

  #user-settings {
    float: left;

    button { margin-top: 3px; }
  }

  #user-settings, #triggers-setup {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 0px 25px;

    h2 { margin-bottom: 12px; }

    p { margin: 8px 0px; }

    .wrapper {
      box-sizing: border-box;
      padding: 10px 15px;
      width: 100%;
      min-height: 250px;
      background-color: #FFFFFF;
      border-radius: 7px;
    }
  }

  #about {
    width: 100%;
    margin-top: 35px;
    padding: 0px 25px;
    font-size: 1.1em;

    h2 { margin-bottom: 12px; }
    p { margin-top: 0px; }
  }

  &#all-data {
    #history {
      box-sizing: border-box;
      padding: 0px 25px;

      h2 { margin-bottom: 12px; }

      #no-data {
        margin: 40px auto;
        text-align: center;
        color: $lightgrey;
      }
      
      div {
        box-sizing: border-box;
        padding: 10px 15px;
        width: 100%;
        min-height: 200px;
        background-color: #FFFFFF;
        border-radius: 7px;

        table {
          width: 100%;
          text-align: left;

          thead {
            color: $darkgrey;

            th {
              height: 38px;
              padding: 4px;
              box-sizing: border-box;
            }
          }

          tr {
            height: 38px;
            
            td { padding: 4px; }
          }

          tr:nth-child(odd) { background-color: $lightergrey; }
        }
      }
    }
  }

}

#help-menu {
  #help-dialog {
    position: fixed;
    top: calc(50% - 100px);
    left: 15%;
    box-sizing: border-box;
    padding: 15px;
    height: 200px;
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 7px;
    z-index: 900;

    p {
      color: $darkgrey;
      font-size: 1.1em;
    }

  }
  #help-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 800;
  }
}


/* Mobile */
@media screen and (max-width: 850px) {
  section {
    #user-settings, #triggers-setup {
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  #help-menu {
    #help-dialog {
      left: 10%;
      width: 80%;
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    hr { margin-bottom: 20px; }
  }

  nav {
    float: none;
    height: 70px;
    width: 100%;
    white-space: nowrap;

    button {
      display: inline-block;
      margin: 0px;
      padding-top: 28px;
      height: 100%;
      width: 25%;
      background-size: 30px;
    }
  }

  section {
    width: 100%;
    padding: 10px 18px;

    &#all-data {
      #history { padding: 0px; }
    }

    #user-settings, #triggers-setup, #about { padding: 0px; }
  }
}

@media screen and (max-width: 600px) {
  header {
    #title { font-size: 3.2rem; }
  }

  #help-menu {
    #help-dialog {
      top: calc(50% - 150px);
      height: 300px;
    }
  }

  section {
    form#add-data {
      .field {
        display: block;
        width: 100%;
        padding: 6px 0px;
      }

      button[type="submit"] {
        margin-left: 0px;
      }
    }
  }
}